.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 40%;
    height: 475px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: rgb(250, 234, 248);
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .title1 {
    color: grey;
    font-size: 18px;
  }
  
  .innergrid{
    height: 10%;
    width: 46%;
    padding-left: 10%;
    padding-right: 2%;
    background-color: rgb(250, 234, 248);
    
    margin: 2%;
  }
.header{
    height: 10%;
    width: 100%;
    padding-left: 8%;
    padding-right: 2%; 
    font-size: 35px;
    color: white;
    font-weight: bolder;
}
.innercard{
    position: relative;
    top: 6%;
    background-color: rgb(219, 170, 213);
    margin: 2%;
}

.headerdiv{
    background-color: rgb(219, 170, 213);
}
